[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
qiskit = "*"
qiskit-aer = "*"
bs4 = "*"
openai = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.11"
